.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General styles */

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0;
}

/* Navigation */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: #555;
}

/* Buttons */




/* Forms */

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #555;
}

/* Footer */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f7fafc;
}

th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
  color: #4a5568;
  background-color: #ebf8ff;
  border-bottom: 2px solid #cbd5e0;
}

td {
  text-align: left;
  padding: 12px;
  color: #4a5568;
  border-bottom: 1px solid #cbd5e0;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #edf2f7;
}

tr:hover {
  background-color: #bee3f8;
}

@media only screen and (max-width: 600px) {
  table {
    max-width: none;
  }
}

form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}




@media only screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
    font-size: 14px;
  }
}


button[type="button"].remove-vaccine:before {
  content: "- ";
}

button[type="button"].add-vaccine:before {
  content: "+ ";
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}





.content {
  flex-grow: 1;
  padding: 5px;
  color: #333;
}


.tile-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.tile {
  width: calc(33.333% - 40px);
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.tile:hover {
  transform: scale(1.1);
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .tile {
    width: calc(50% - 40px);
  }
}

@media only screen and (max-width: 480px) {
  .tile {
    width: 100%;
  }
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.home-button {
  position: absolute;
  left: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  background-color: #555;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

.home-button.hidden {
  visibility: hidden;
}

.app-title {
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.patient-list {
  display: flex;
  flex-direction: column;
}

.patient-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}



.patient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  cursor: pointer;
}

.patient-item:hover {
  background-color: #f0f0f0;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
}

.search-icon {
  margin-right: 5px;
  z-index: 2;
  color: #6c757d;
}





