.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0;
}

/* Footer */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #ccc;
}


tr:hover {
  background-color: #bee3f8;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 5px;
  color: #333;
}


.tile-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.tile {
  width: calc(33.333% - 40px);
  height: calc(33.333% - 40px);
  background-color: #1c3f95; /* Adjusted to a more vibrant shade of blue */
  background-image: linear-gradient(135deg, #1c3f95 0%, #2a69af 100%); /* Added gradient */
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Added box-shadow transition */
}

.tile:hover {
  transform: translateY(-5px); /* Slightly raise the tile on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase box-shadow on hover */
}


.tile-icon { /* New class for the icons */
  font-size: 2rem; /* Adjust the size of the icons */
  padding: 1rem;
}




/* Responsive styles */
@media only screen and (max-width: 768px) {
  .tile {
    width: calc(50% - 40px);
  }
}

@media only screen and (max-width: 480px) {
  .tile {
    width: 100%;
  }
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #1c3f95;
  background-image: linear-gradient(135deg, #1c3f95 0%, #2a69af 100%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

/* For mobile devices (viewport width up to 767px) */
@media (max-width: 767px) {
  .content-header {
    font-size: 1.2rem;
  }
}

/* For tablets and small desktop devices (viewport width between 768px and 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .content-header {
    font-size: 1.3rem;
  }
}

/* For large desktop devices (viewport width 1024px and up) */
@media (min-width: 1024px) {
  .content-header {
    font-size: 1.5rem;
  }
}





button {
  padding: 8px 16px; /* Adjusted padding for a more balanced look */
  border: none; /* Remove default button border */
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  background-color: #1c3f95; /* Adjusted to a more vibrant shade of blue */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Added transform transition */
  cursor: pointer;
}

button:hover {
  background-color: #2a69af; /* Adjusted to a more vibrant shade of blue on hover */
  transform: translateY(-2px); /* Added subtle lift effect on hover */
}

button:focus {
  outline: none; /* Remove default focus outline */
}


.home-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.logout-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
}

.details-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.home-button:hover, .details-button:hover {
  color: #032e56; /* Change this color to your preferred hover color */
}

.home-button.hidden {
  visibility: hidden;
}
.details-button.hidden {
  visibility: hidden;
}
.app-title {
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.visit-body {
  list-style: decimal inside;
  padding: 0;
}


.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  cursor: pointer;
}

/* Mobile-specific CSS */
@media (max-width: 767px) {
  .item {
    display: block;
    text-align: center;
    padding: 8px;
  }
}


.patient-item:hover {
  background-color: #f0f0f0;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-icon {
  margin-right: 5px;
  z-index: 2;
  color: #6c757d;
}


.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
}


.patient-details {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin: 0.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.date-selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.date-selection input[type="date"] {
  margin-left: 8px;
  margin-right: 8px;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #1c3f95;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}


.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.available-slot {
  background-color: #a0ffa0;
}
